<!DOCTYPE html>
<html lang  = "en">
<head>
  <meta charset="utf-8">
  <title>KaylEd's Wines</title>
  <link rel="stylesheet" type= "text/css" href= "style.css">
</head>
<body>
  <!-- #the main header is keeping the concise positioning of our nav bar at the very top and our logo button at the top -->
<header class= "main_header">
  <!-- #beginning of navigation bar -->
  <nav class= "top_nav">
    <ul>
      <li>
        <a href= "/about">
          home
        </a>
      </li>
      <!-- <a href="<%= url("browse.erb")%>">

      <label for = "browse">browse</label>
</a>
      <label for = "about">about</label>
        <a href="<%= url("about.erb")%>">
      <label for = "cart">cart</label>
        <a href="<%= url("cart.erb")%>">
      <label for = "store_locations">locations</label>
        <a href="<%= url("locations.erb")%>">
        </a> -->
      </ul>
  </nav>
  <!-- #end of top navigation bar -->
<h1>KaylEd's Wines</h1>
</header>
  <%= yield %>
  <!-- ########CONTENT OF PAGES GOES HERE BECAUSE OF YEILD ON LINE 31############# -->
<!-- #beginning of bottom navigation bar -->
<!-- #beginning of responsible footer -->
<footer>
  <ul>
    <label for="press">press</label>
      <a href="<%=url("about.erb")%>">
    <label for="sign_up">keep in touch</label>
      <input>sing up here</input>
      <button>add me!</button>
    <li>sldkfmslkfd</li>
  </ul>
</footer>
<!-- end of responsbile footer -->
</body>
</html>
